/*  margin: 30px 15px 30px 15px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-right: 15px; */

p{  
    margin: 30px 15px;
    padding: 20px;
    border: 20px solid   red ;
    background-color: aqua;
}

h1{
    border: 20px solid;
    border-color: blue yellow tomato purple;
}

